.card {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

.list {
  margin: 2rem auto;
  padding: 2rem;
  height: auto;
}

.control {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.control label {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.3rem;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control textarea {
  resize: none;
  height: 6rem;
  flex: 3;
  font: inherit;
  padding: 0.7rem 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control textarea:focus {
  outline: none;
  border-color: #4f005f;
  background: #ebdfee;
}

.actions {
  text-align: center;
  padding: 0 0 1rem 0;
}

/* Comeback */
ul {
  list-style: none;
}

.list_notes {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #464646;
  padding: 0.75rem;
}

li {
  margin: 1rem;
  color: #464646;
}
