.form {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
}

.center {
  text-align: center;
  margin: 1rem;
}

h1 {
  padding: 1rem;
  color: #464646;
}

p {
  color: #464646;
  font-size: 1.3rem;
}
