.header {
  width: 100%;
  height: 4rem;
  background-color: #741188;
  display: flex;
  justify-content: space-between;
}

.header div {
  margin: 0;
  padding: 0;
  margin: 1.3rem 1rem 0 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

.home_button {
  font-weight: 600;
  font-size: 2rem;
  margin-top: -0.4rem;
}

nav {
  padding: 1rem;
}

a {
  color: white;
  cursor: pointer;
  padding: 1.2rem 0.7rem;
  text-decoration: none;
  font-size: 1.5rem;
}
